<div class="main">
	<img style="float: right; margin: 11px; width: auto; height: auto; clear: none;" src="<{$xoops_url}>/modules/authkeys/assets/images/logo_350x350.png" />
    <h1><{$authkeys_module_version}> -- <{$authkeys_module_namings}>></h1>
    <p>This REST API Takes only a couple of basic forms which can be submitted via the $_POST or $_GET PHP Array Global Variables for Forms.</p>
    <h2>GETKEY API ELEMENT MODE TYPAL</h2>
    <p>This is done with the <em><{$xoops_url}>/modules/authkeys/api/?mode=getkey</em> path at the end of the url, you replace the example address with either a domain!</p>
    <blockquote>
        <{$form_getkey}>
    </blockquote>
    <h3>This the HTML Code surrounding the api call</h3>
    <pre style="max-height: 300px; overflow: scroll;">
    	<{$form_htmlchars_getkey}>
    </pre>
    <h2>VERIFY API ELEMENT MODE TYPAL</h2>
    <p>This is done with the <em><{$xoops_url}>/modules/authkeys/api/?mode=verify</em> path at the end of the url, you replace the example address with either a domain!</p>
    <blockquote>
        <{$form_verify}>
    </blockquote>
    <h3>This the HTML Code surrounding the api call</h3>
    <pre style="max-height: 300px; overflow: scroll;">
    	<{$form_htmlchars_verify}>
    </pre>
    <h2>The Author</h2>
    <p>This was developed by Dr. Simon Antony Roberts (Sydney, Australia) in 2018 and is part of the Chronolabs Cooperative's and XOOPS LLC Portal System's and api's.<br/><br/>This is open source which you can download from <a href="https://sourceforge.net/projects/chronolabs-cooperative/">https://sourceforge.net/projects/chronolabs-cooperative/</a> contact the scribe  <a href="mailto:chronolabscoop@users.sourceforge.net">chronolabscoop@users.sourceforge.net</a></p></body>
</div>