<h1><{$authkeys_module_namings}> ~ v<{$authkeys_module_version}></h1>
<p><{$smart.const._MN_AUTHKEY_INDEX_PA}></p>
<{if $authkeys_count == 0 || ($authkeys_count >= 1 && $authkeys_allow_creating == true)}>
<h2><{$smart.const._MN_AUTHKEY_INDEX_H2A}></h2>
<div style="margin-left: 45px; margin-right: 45px; margin-bottom: 15px; margin-top: 7px; font-size: 1.1183111em;">
	<div style="padding: 6px; border: 3px dashed black;">
		<{$authkeys_newkey_form}>
	</div>
</div>
<{/if}>
<{if $authkeys_count > 0}>
<h2><{$smart.const._MN_AUTHKEY_INDEX_H2B}></h2>
<table>
	<tr class='head'>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDA}></td>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDB}></td>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDC}></td>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDD}></td>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDE}></td>
		<td class='head' style='text-align: center;'><{$smart.const._MN_AUTHKEY_INDEX_TDF}></td>
		<td class='head' style='text-align: right;'><{$smart.const._MN_AUTHKEY_INDEX_TDG}></td>
	</tr>
	<{foreach from=$authkeys item=key}>
	<tr class='<{cycle values='even,odd'}>'>
		<td style='text-align: center; font-weight: 700;'><{$key.key}></td>
		<td style='text-align: center;'><{$key.title}></td>
		<td style='text-align: center;'><{$key.name}></td>
		<td style='text-align: center;'><{$key.calls-day}> / <{$key.limit-day}><{if $key.overs-day > 0}>&nbsp;<font style='color: red; font-weight: 900;'>( <{$key.overs-day}> )</font><{/if}></td>
		<td style='text-align: center;'><{$key.calls-week}> / <{$key.limit-week}><{if $key.overs-week > 0}>&nbsp;<font style='color: red; font-weight: 900;'>( <{$key.overs-week}> )</font><{/if}></td>
		<td style='text-align: center;'><{$key.calls-month}> / <{$key.limit-month}><{if $key.overs-month > 0}>&nbsp;<font style='color: red; font-weight: 900;'>( <{$key.overs-month}> )</font><{/if}></td>
		<td style='text-align: right;'><{$smart.const._MN_AUTHKEY_INDEX_TDG}></td>
	</tr>
</table>