<h1><{$authkeys_module_namings}> ~ v<{$authkeys_module_version}></h1>
<p><{$smarty.const._MN_AUTHKEY_APIS_PA}></p>
<{if $apis_count > 0}>
<h2><{$smarty.const._MN_AUTHKEY_APIS_H2A}></h2>
<table>
	<tr class='head'>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDA}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDB}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDC}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDD}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDE}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDF}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDG}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDH}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDI}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDJ}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDK}></td>
		<td style='text-align: center;'><{$smarty.const._MN_AUTHKEY_APIS_TDL}></td>
	</tr>
	<{foreach from=$apis item=api}>
	<tr class='<{cycle values='even,odd'}>'>
		<td style='text-align: center; width: 28px !important;'><img src="<{$api.api_icon}>" /></td>
		<td style='text-align: center; width: auto !important;'><{$api.api_name}></td>
		<td style='text-align: center; width: auto !important;'><a href="<{$api.url}>" target="_blank"><{$api.url}></a></td>
		<td style='text-align: center; width: auto !important;'><{$api.status}></td>
		<td style='text-align: center; width: 45px !important;'><{$api.api_write}></td>
		<td style='text-align: center; width: 45px !important;'><{$api.api_read}></td>
		<td style='text-align: center; width: 55px !important;'><{$api.online}></td>
		<td style='text-align: center; width: 55px !important;'><{$api.offline}></td>
		<td style='text-align: center; width: 75px !important;'><{$api.calls_day}></td>
		<td style='text-align: center; width: 95px !important;'><{$api.stats_day}></td>
		<td style='text-align: center; width: 75px !important;'><{$api.calls_month}></td>
		<td style='text-align: center; width: 95px !important;'><{$api.stats_month}></td>
	</tr>
	<{/foreach}>
</table>
<{/if}>